*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading{
  height: 55px;
  background-color: rgb(194, 237, 255);
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 22px;
}

.output{
  font-size: 20px;
  width: 50%;
  height: 890px;
  position: absolute;
  right: 0;
  top: 54px;
  border: 1px solid black;
  padding: 10px;
}

.input-html{
  padding: 10px;
  width: 50%;
  height: 890px;
  resize: none;
  font-size: 20px;
}
